{% extends "content/base.html" %}
{% block content %}

  <div id="container"></div>
  <div id="gallery">
    <div class="container">

      <header id="header" class="codrops-header">
        <button class="slider-switch">Switch view</button>
      </header>
      <div id="overlay" class="overlay">
        <div class="info">
          <h2>Demo interactions</h2>
          <span class="info-drag">Drag Sliders</span>
          <span class="info-keys">Use Arrows</span>
          <span class="info-switch">Switch view</span>
          <button>Got it!</button>
        </div>
      </div>

      <div id="slideshow" class="dragslider">
        <a href="#" id="prev" class="control-prev">&lsaquo;</a>
        <a href="#" id="next" class="control-next">&rsaquo;</a>
        <section class="img-dragger img-dragger-large dragdealer">
          <div class="handle" id="galleryImageContainer">
           <!-- <div class="slide" data-content="content-1">
              <div class="img-wrap"><img src="img/1.jpg" alt="img1"/></div>
                <h2>Lorem Waldy<span>Distilling design ideas and other interesting topics</span></h2>
              <button class="content-switch">Read more</button>
            </div>-->
          </div>
        </section><!-- /img-dragger-->
        <!-- Content section -->
        <section class="pages">
          <div class="content" data-content="content-1">
          </div>
        </section>
      </div>

    </div><!-- /container -->
  </div>

  <div id="gallery2">
    <div class="container">
      <header id="header2" class="codrops-header">
        <button class="slider-switch">Switch view</button>
      </header>
      <div id="overlay2" class="overlay">
        <div class="info">
          <h2>Demo interactions</h2>
          <span class="info-drag">Drag Sliders</span>
          <span class="info-keys">Use Arrows</span>
          <span class="info-switch">Switch view</span>
          <button>Got it!</button>
        </div>
      </div>
      <div id="slideshow2" class="dragslider">
        <a href="#" id="prev2" class="control-prev">&lsaquo;</a>
        <a href="#" id="next2" class="control-next">&rsaquo;</a>
        <section class="img-dragger img-dragger-large dragdealer">
          <div class="handle" id="galleryImageContainer2">
          </div>
        </section><!-- /img-dragger-->
        <!-- Content section -->
        <section class="pages">
          <div class="content" data-content="content-1">
          </div>
        </section>
      </div>
    </div><!-- /container -->
  </div>

  <div id="myProgress"> <div id="myBar"></div> </div>
  <div id="loadBar"><div id="loadBarImg"></div></div>
  <div id="buttonsElems">
  </div>
  <header>
      <div id="AIMheader" class="">
        <div id="header-logo"></div>
        <H2>COMPANY NAME</H2>
        <div class="buttons">
            <!--<div class="buttons_left">
                <div class="aim-button floorplans"></div>
                <div class="aim-button pois"></div>
            </div>
            <div class="buttons_right">
                <div class="aim-button gallery"></div>
                <div class="aim-button vr active"></div>
            </div>-->
        </div>
    </div>

    <div class="mobile-nav">
        <div id="nav-icon3">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>

         <div class="responsive-menu">
            <ul>
              <div class="buttons_right">
                <div class="aim-button floorplans">Floor Plan</div>
                <div class="aim-button gallery">Gallery</div>
                <div class="aim-button vr active">VR</div>
              </div>
            </ul>
         </div>
    </div>

</header>

{% endblock %}